[Unit]
Description=Niri text screensaver
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
Type=simple
ExecStart=/usr/bin/kitty --class=org.ali.niri-screensaver --override font_size=18 --override window_padding_width=0 --override background_opacity=1 --override background=black --override hide_window_decorations=yes --override cursor_blink_interval=0 --override mouse_hide_wait=0.1 /bin/bash %h/.config/niri/screensaver.sh
KillMode=control-group
TimeoutStopSec=3
