[Unit]
Description=Tailscale system tray application
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/tailscale systray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
