[Desktop Entry]
Name=Strata
Comment=File manager
Exec="{{ .chezmoi.homeDir }}/.local/bin/strata" %U
Type=Application
Terminal=false
Icon=system-file-manager
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
