[Desktop Entry]
Name=Obsidian
Comment=Notes and knowledge base
Exec="{{ .chezmoi.homeDir }}/.local/bin/obsidian" %U
Type=Application
Terminal=false
Icon=obsidian
Categories=Office;
MimeType=x-scheme-handler/obsidian;
StartupWMClass=obsidian
